<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">Blush &#9829;</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="userLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink='/members' routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/lists' routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/messages' routerLinkActive="active">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/testerrors' routerLinkActive="active">Test Errors</a>
          </li>
          
        </ng-container>
      </ul>
      <!-- *ngIf="userLoggedIn" -->
      <div class="dropdown" *ngIf="userLoggedIn">
        <button
          class="btn btn-dark dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Welcome {{model.username | titlecase}}
        </button>

        <ul class="dropdown-menu dropdown-menu-dark mt-2">
          <li><a class="dropdown-item" routerLink="/member/edit">Edit Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>

      <!-- #loginForm -> Template reference -->
      <form
        #loginForm="ngForm"
        class="d-flex"
        (ngSubmit)="login()"
        autocomplete="off"
        *ngIf="!userLoggedIn"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          type="text"
          placeholder="Username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
